.App {
  text-align: center;
  width: 350px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}


.main-part{
display: flex;
justify-content: center;
align-items: center;
margin-top: 3rem;
}

input{
  border: none;
  /* display: flex; */
  border: 1px solid #ccc;
  border-radius: 32px;
  padding: 5px;
  margin-right: 0.5rem;

}

button{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(180, 62, 231);
  color: white;
}